version: "3.7"
services:
  gear:
    image: local/nginx-php
    container_name: gear
    restart: always
    volumes:
      - type: bind
        source: /var/www/watchsymphogear.com
        target: /var/www/html
        read_only: true
